@use 'style';

.header__burger {
  position: relative;
  display: flex;
  z-index: 1;
  align-items: center;
  width: 3.5rem;
  height: 2.9rem;

  &:hover {
    cursor: pointer;
  }

  &_active {
    .line {
      background: rgba(0, 0, 0, 0);

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(135deg);
      }
    }
  }
}
