@use 'style';

.statistics-list{
    background-color: style.$field_color;
    height: 90vh;
    overflow: scroll;
    padding: 20px;
    margin: 20px;
}
.statistics-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: style.$text_field_color;
    margin: 5px 0;
    height: 38px;
    align-items: center;
    font-size: 2rem;
}
.statistics__name{
    color: style.$font_color;
    padding: 0 0 0 10px;
}
.statistics__cases{
    color: style.$covid_color;
    text-align: right;
    padding: 0 10px 0 0;
}
.statistics-serch{
    height: 30px;
    width: calc(100% - 15px);
    margin: 10px 0 10px 0;
    padding-left: 10px;
}