.statistics-list{
    background-color: #121623;
    height: 90vh;
    overflow: scroll;
    padding: 15px;
    margin: 20px;
}
.statistics-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1E253A;
    margin: 5px;
    height: 38px;
    align-items: center;
}
.statistics__name{
    color: #ADADAD;
    padding: 0 0 0 10px;
}
.statistics__cases{
    color: #CC0000;
    text-align: right;
    padding: 0 10px 0 0;
}
.statistics-serch{
    height: 30px;
    background-color: #FFFFFF;
    margin: 10px 5px 20px 5px;
    padding: 0 0 0 10px;
    align-items: center;
}