@use 'style';

.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer__item {
  margin-left: 3rem;
}

.footer__link {
  color: style.$font_color;
  font-family: 'MainFont';
  text-decoration: none;
}
