@use 'style';

.globalCases {
    border-radius: 5%;
    margin: 1rem;
    border: solid 0.1rem style.$border_color;
    font-size: 2.4rem;
    font-family: 'mainFont';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: style.$field_color;
    color: style.$font_color;
    &__amount {
        font-size: 3.6rem;
        color: style.$covid_color;
    }
}
