@use 'style';

.header {
  width: 100%;
  background-color: style.$header_color;
  padding: 0.9rem 3.2rem 0;
  box-sizing: border-box;

  &__title {
    margin: 0;
    padding: 0;
    font-family: 'MainFont';
    font-style: normal;
    font-weight: normal;
    font-size: 4.7rem;
    line-height: 5.6rem;
    color: style.$font_color;
    transition: font-size 1s;
  }
  @media(max-width: style.$display_medium){
    &__title{
      font-size: 3.5rem;
    }
  }
  @media(max-width: style.$display_small){
    &__title{
      font-size: 2.5rem;
    }
  }
}
.line {
  display: block;
  width: 3.5rem;
  height: 0.5rem;
  background-color: style.$font_color;
  z-index: 1;
  transition: all 0.5s ease;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background-color: style.$font_color;
    z-index: 1;
    transition: all 0.5s ease;
  }

  &::after {
    top: 2.4rem;
  }

  &::before {
    top: 0;
  }
}

