@use 'style';
  
.global__cases, .global__deaths, .global__recovered, .last__cases, .last__deaths, .last__recovered{
    display: block;
    height: 300px;
    overflow: scroll;
    border: solid 1px orange;
}
.list__visible {
    
}
